<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="form-group">
                    <center><span><i class="fa fa-picture-o"></i> Upload Profile Image:</span></center><br />
                    <center><img id="ImgProductDisplayPic" src="DefaultProduct.jpg" alt="abc" height="100px" width="120px"/></center><br />
                    <center><input type='file' id="FU_ProductImage" multiple /></center>
                    <center><small id="ProductImageValidate"></small></center>
                </div>
                <div class="form-group">
                       <div class="input-group">
                        
                            <span class="input-group-addon">Product Name:</span>
                           <input name="ProductName" id="ProductName" type="text" placeholder="Enter Product Name Here.." maxlength="20" class="form-control" />
                       </div>
                       <small id="ProductNameValidate"></small>
                </div>
               <div class="form-group">
                        <div class="input-group">
                            
                                <span class="input-group-addon">Price:</span>
                                <input name="ProductPrice" id="ProductPrice" type="text" placeholder="Enter Price Here.." maxlength="20" class="form-control" />
                        </div>
                   <small id="ProductPriceValidate"></small>
                </div>
               <div class="form-group">
                   <div class="input-group">
                    
                        <span class="input-group-addon">Qty:</span>
                        <input name="ProductQty" id="ProductQty" type="text" placeholder="Enter Contact No. Here.." maxlength="10" class="form-control" />
                    </div>
                   <small id="ProductQtyValidate"></small>
               </div>
               <div class="form-group">
                <div class="input-group">
                 
                        <span class="input-group-addon">Category:</span>
                        <select  id="ProductCategory" class="form-control">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                        </select>
                 </div>
                <small id="ProductQtyValidate"></small>
            </div>
                    <input id="BtnUpdateProduct" type="button" value="Update Product" class="btn btn-primary" />
            </div>
        </div>
    </div>
</body>
</html>